.main-container {
    .main-container__form {
        background-color: #FFFFFF;
        box-shadow: 0px 3px 4px #C8C9CE;
        margin-top: 3rem;
        padding: 1.5rem;
        margin-bottom: 3rem;
        border-radius: .25rem;
    }
}