.table {
    .table__one-of-two-buttons {
        min-width: 4.5rem;
        width: 50%;
        text-align: center;
    }
    @media only screen and (max-width: 400px) {
        .table__one-of-two-buttons {
            width: 100%;
        }
    }
}