.form {
    .form__button {
        background-color: #1493FE;
        border-color: #1493FE;
        font-weight: 600;
        text-transform: uppercase;
        &:hover,
        &:focus {
            background-color: #157BCE;
            border-color: #157BCE;
        }
        &:active {
            background-color: #157BCE !important;
            border-color: #157BCE !important;
        }
    }
}
