.table-actions {
    .table-actions__copy-action {
        background-color: #1493FE;
        border-color: #1493FE;
        font-weight: 300;
        padding: .15rem .9rem;
        margin-right: .6rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        &:hover,
        &:focus {
            background-color: #157BCE;
            border-color: #157BCE;
        }
        &:active {
            background-color: #157BCE !important;
            border-color: #157BCE !important;
        }
    }
}