.table {
    .table__header-cell {
        vertical-align: middle;
        padding: .5rem;
        border: none;
        font-weight: 300;
        color: #D3D3D3;
    }
    .table__header-cell:first-child {
        border-top-left-radius: .4rem;
    }
    .table__header-cell:last-child {
        border-top-right-radius: .4rem;
    }
}