.active-link-button {
    color: #007BFF;
    text-decoration: underline;
    font-weight: 300;
    font-size: .875rem;
    background-color: transparent;
    border: none;

    &:hover,
    &:focus {
        background-color: transparent;
        color: #007BFF;
    }
    &:active {
        color: #007BFF !important;
        background-color: transparent !important;
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}