.table-actions {
    .table-actions__delete-action {
        background-color: transparent;
        border: none;
        padding: .15rem .9rem;
        &:active {
            background-color: transparent !important;
        }
        &:hover {
            background-color: transparent;
        }
        &:focus {
            background-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }
}